/* h1 {
  color: darksalmon;
  font-size: 40px;
} */
.container {
  background-color: darkslategray;
}
#hell {
  margin: 50px;
  margin-left: 200px;
  margin-right: 400px;
  /* margin-right: 20%; */
  color: white;
}
nav {
  background-color: beige;
}
