
.container {
  background-color: rgba(137, 216, 216, 0.397);
}
#hell {
  margin: 50px;
  margin-left: 200px;
  margin-right: 400px;

  color: white;
}
nav {
  background-color: rgb(175, 175, 150);
}
